.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #86503a;
  border: 1px solid #3d1606;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #3a1304;
  border-color: #0f0704;
}